name: Build Distribution Jar

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '8'
        cache: 'maven'

    - name: Build Distribution JAR
      run: |
        chmod +x ./mvnw
        ./mvnw clean
        ./mvnw com.googlecode.maven-download-plugin:download-maven-plugin:wget@install-arduino-libs
        ./mvnw package
